<p>


// directives :

directive are instruction to DOm.
it provides extra features to html elements.
there are 3 types of  directive.

@component     :    it is a decorator used to define a component.

* : Directive.


component directives :

          component are directives with a template. they encapsulate
          the template 

Attribute directive :
   change the behaviour of html elements.


Structural directives :

       these direc. change the dom layout by adding or removing dom elements based on certain condition.

Data Binding : 
           it is used for communication .it communicate between typescirpt and other compoenent which is shown to user.
    

there are 2 ways of data biding :
       1. one way data binding  : whenever we change in typescipt it will get modify in the html file.
       2. two way data Binding  :
             when ever we make change in the model,it will reflected in the view and vice-versa.

             ngModel directive is used for two way data Binding.


             






</p>